@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="light"] .ql-toolbar .ql-stroke {
    fill: none !important;
    stroke: #4c4f69 !important;
}

[data-theme="light"] .ql-toolbar .ql-fill {
    fill: #4c4f69 !important;
    stroke: none !important;
}

[data-theme="light"] .ql-toolbar .ql-picker {
    color: #4c4f69 !important;
}

[data-theme="light"] .ql-toolbar {
    border: 1px solid #dce0e8 !important;
}

[data-theme="light"] .ql-container {
    border: 1px solid #dce0e8 !important;
}

[data-theme="dark"] .ql-toolbar .ql-stroke {
    fill: none !important;
    stroke: #c6d0f5 !important;
}

[data-theme="dark"] .ql-toolbar .ql-fill {
    fill: #c6d0f5 !important;
    stroke: none !important;
}

[data-theme="dark"] .ql-toolbar .ql-picker {
    color: #c6d0f5 !important;
}

[data-theme="dark"] .ql-toolbar {
    border: 1px solid #232634 !important;
}

[data-theme="dark"] .ql-container {
    border: 1px solid #232634 !important;
}

/* Loading Blocks Animation */
.loading-block {
    animation: loading_block 2.4s linear infinite;
}

.block-offset-0 {
    animation-delay: -2.4s;
}

.block-offset-1 {
    animation-delay: -1.6s;
}

.block-offset-2 {
    animation-delay: -0.8s;
}

@keyframes loading_block {
    8.33% {
        x: 13px;
        y: 1px;
    }
    25% {
        x: 13px;
        y: 1px;
    }
    33.3% {
        x: 13px;
        y: 13px;
    }
    50% {
        x: 13px;
        y: 13px;
    }
    58.33% {
        x: 1px;
        y: 13px;
    }
    75% {
        x: 1px;
        y: 13px;
    }
    83.33% {
        x: 1px;
        y: 1px;
    }
}