@tailwind base;
@tailwind components;
@tailwind utilities;

/* Loading Blocks Animation */
.loading-block {
    animation: loading_block 2.4s linear infinite;
}

.block-offset-0 {
    animation-delay: -2.4s;
}

.block-offset-1 {
    animation-delay: -1.6s;
}

.block-offset-2 {
    animation-delay: -0.8s;
}

@keyframes loading_block {
    8.33% {
        x: 13px;
        y: 1px;
    }
    25% {
        x: 13px;
        y: 1px;
    }
    33.3% {
        x: 13px;
        y: 13px;
    }
    50% {
        x: 13px;
        y: 13px;
    }
    58.33% {
        x: 1px;
        y: 13px;
    }
    75% {
        x: 1px;
        y: 13px;
    }
    83.33% {
        x: 1px;
        y: 1px;
    }
}

@layer base {
    :root {
        --background: 220deg, 23%, 95%;
        --foreground: 232deg, 23%, 18%;

        --card: 220deg, 23%, 95%;
        --card-foreground: var(--foreground);

        --popover: 223deg, 16%, 83%;
        --popover-foreground: 232deg, 23%, 18%;

        --primary: 197deg 97% 90%;
        --primary-foreground: 197deg 97% 46%;

        --secondary: 266deg 85% 88%;
        --secondary-foreground: 266deg 85% 58%;

        --muted: 225deg, 14%, 77%;
        --muted-foreground: 233deg, 13%, 41%;

        --accent: 0deg 60% 88%;
        --accent-foreground: 0deg 60% 67%;

        --destructive: 347deg, 87%, 44%;
        --destructive-foreground: 347deg, 87%, 88%;

        --border: var(--muted-foreground);
        --input: var(--primary);
        --ring: var(--primary-foreground);

        /* Custom Colors */
        --mantle: hsl(220deg, 22%, 92%);
        --mantle-foreground: hsl(234deg, 16%, 35%);
        --swap: hsl(35deg, 77%, 80%);
        --swap-foreground: hsl(35deg, 77%, 49%);

        --radius: 0.5rem;
    }
    .dark {
        --background: 232deg, 23%, 18%;
        --foreground: 220deg, 23%, 95%;

        --card: 232deg, 23%, 18%;
        --card-foreground: 220deg, 23%, 95%;

        --popover: 230deg, 19%, 26%;
        --popover-foreground: var(--foreground);

        --primary: 197deg 97% 46%;
        --primary-foreground: 197deg 97% 90%;

        --secondary: 266deg 85% 58%;
        --secondary-foreground: 266deg 85% 88%;

        --muted: 231deg, 16%, 34%;
        --muted-foreground: 228deg, 39%, 80%;

        --accent: 0deg 60% 67%;
        --accent-foreground: 0deg 60% 88%;

        --destructive: 347deg, 87%, 44%;
        --destructive-foreground: 347deg, 87%, 88%;

        /* Custom Colors */
        --mantle: hsl(233deg, 23%, 15%);
        --mantle-foreground: hsl(227deg, 68%, 88%);
        --swap: hsl(220deg, 91%, 54%);
        --swap-foreground: hsl(220deg, 91%, 80%);

        --border: var(--muted-foreground);
        --input: var(--primary);
        --ring: var(--primary-foreground);
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
